@model ProjetoFinalMariaE.Models.Cliente

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClienteNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClienteNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClienteCpf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClienteCpf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClienteSexo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClienteSexo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClienteTelefone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClienteTelefone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClienteEndereco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClienteEndereco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClienteNumero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClienteNumero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cidade.CidadeNome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">voltar para a lista</a>
</div>
