@model IEnumerable<ProjetoFinalMariaE.Models.ProcedimentoRealizado>

@{
    ViewData["Title"] = "Index";
}

<h1>Procedimento Realizado</h1>

<p>
    <a asp-action="Create">Criar novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProcedimentoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Colaborador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocalRealizacao.LocalNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataRealizacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.ClienteNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Procedimento.ProcedimentoNome )
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Colaborador.ColaboradorTelefone)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.LocalRealizacao.LocalNome )
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataRealizacao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> | 
                <a asp-action="Imprimir" asp-route-id="@item.Id" target="_blank">Imprimir</a>

            </td>
        </tr>
}
    </tbody>
</table>
